{% extends 'with_nav.html' %}
{% load static %}

{% block title %} subject {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/subject.css' %}">
<link rel="stylesheet" href="{% static 'main/css/form.css' %}">
{% endblock head %}


{% block content %}

<!-- Script for distribution  -->
<script src="{% static 'main/js/distribution_for_subject.js' %}"></script>

<!-- lecturer info -->
<div class="container mt-5">
    <div class="card card-custom">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="{{ lecturer.picture.url }}" alt="{{ lecturer.first_name }} {{ lecturer.last_name }}"
                        class="mb-3">
                    <h2 class="card-title">{{ lecturer.first_name }} {{ lecturer.last_name }}</h2>
                </div>
                <div class="col-md-8">
                    <h4>Average Rating: {{ lecturer.average|floatformat:1 }}</h4>

                    <h5 class="mt-4">Rating Distribution</h5>
                    <ul class="list-unstyled mt-2">
                        {% for rating in ratings %}
                        <li class="mb-2">
                            <div class="d-flex justify-content-between">
                                <span>{{ rating.review__rate }} Stars</span>
                            </div>
                            <div class="progress progress-custom">
                                <div class="progress-bar" role="progressbar" data-rating="{{ rating.review__rate }}"
                                    style="width: {% widthratio rating.count ratings_total 100 %}%;"
                                    aria-valuenow="{{ rating.count }}" aria-valuemin="0"
                                    aria-valuemax="{{ ratings_total }}"
                                    class="progress-bar-custom-{{ rating.review__rate }}">
                                    {{ rating.count }}%
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Review form -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="form-container">
                {% if user.is_authenticated %}
                <script src="{% static 'main/js/review_form.js' %}"></script>
                <form method="post" action="{{ request.path }}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="rate">Rate:</label>
                        <div id="star-rating" class="star-rating text-center">★★★★★</div>
                        <input type="range" class="form-control-range" id="rate" name="rate" min="1" max="5" value="5"
                            oninput="updateStars(this.value)">
                        <div class="d-flex justify-content-between">
                            <span>1</span>
                            <span>2</span>
                            <span>3</span>
                            <span>4</span>
                            <span>5</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {% else %}
                <p class="text-center">You need to <a href="{% url 'login' %}">log in</a> to comment.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<!-- Comments -->
<div class="container mt-4">
    {% for review in reviews %}
    {% if review.comment %}
    <div class="card mb-3 card-review">
        <div class="card-body">
            <div class="d-flex align-items-center mb-3">
                <div class="ml-3">
                    <h5 class="card-title mb-0">{{ review.user.username }}</h5>
                    <small class="text-muted">{{ review.created_at | date:"F j, Y, g:i a" }}</small>
                    <p class="mb-0">Rating: {{ review.rate }} Stars</p>
                </div>
            </div>
            <p class="card-text">{{ review.comment }}</p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>








{% endblock content %}